.vh-90  {
  min-height: 92.2vh;
}

.error {
  border: 2px solid #FF6565;
}

.error-message {
  color: #FF6565;
  padding: .5em .2em;
  height: 1.5em;
  position: absolute;
  font-size: .8em;
  font-weight: bolder;}
